// Theme Color
@mixin background-light
{
    background-color: $primary-1;
    color: $secondary-1;
}
@mixin background-blue {
    background-color: $primary-2;
    color: $secondary-2;
}

// Text
@mixin title
{
    font-family: $font-title;
    font-weight: 900;
    color: $secondary-1;
}
@mixin sub-title
{
    font-family: $font-title;
    font-weight: 700;
    color: $secondary-1;
}
@mixin text
{
    font-family: $font-text;
    font-weight: 400;
    color: $secondary-1;
}

// Background
@mixin ice-style
{
    background: hsla(0, 0%, 100%, 0.55); 
    backdrop-filter: blur(30px);
}

// Animation
@mixin nav-item-border($background-color: $primary-2)
{
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    left: 50%;
    bottom: 0;
    background-color: $background-color;
    transition: all ease-in-out .2s;
}
