// Colors
$primary-1: #FBFBFB;
$primary-2: #2962FF;
$primary-3: #E3F2FD;

$secondary-1: #332D2D;
$secondary-2: white;

// Fonts
$font-title: Arial, "Roboto", Verdana, sans-serif;
$font-text: "Roboto", Arial, Verdana, sans-serif;
